
:root{
    font-size: 18px;
}

body {
    background-color: #444;
    color: white;
    margin: 0;
    padding: 0 5rem;
}

.title {
    text-align: center;
}

section {
    color: black;
    background-color: #ccc;
    height: 1.6rem;
    overflow-y: hidden;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    transition: 1s;
}
section:hover {
    background-color: #000;
    height: 10rem;
    overflow-y: auto;
}
section:hover legend {
    color: purple;
}
section:hover p {
    background-color: purple;
}
section:hover a {
    border: purple 3px solid;
}

legend {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

a,p {
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: transparent 3px solid;
    border-radius: 10px;
    padding: 3px;
    margin: 0 20% .6rem;
    transition: .3s;
}
a:hover {
    scale: 1.1;
}

p {
    color: white;
    background-color: black;
    cursor: default;
}


