
:root{
    font-size: 18px;
}

body {
    background-color: #444;
    color: white;
    margin: 0;
}

.main {
    margin: 0 10%;
}
@media (max-width: 750px) {
    .main {
        margin: 0 1rem;
    }
}

.title {
    text-align: center;
}

section {
    color: black;
    background-color: #ccc;
    height: 1.6rem;
    overflow-y: hidden;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    transition: 1s;
}
section:hover {
    background-color: #000;
    /* height: 10rem;*/
    overflow-y: auto;
}
section:hover legend {
    color: purple;
}
section:hover p {
    background-color: purple;
}
section:hover a {
    border: purple 3px solid;
}

legend {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

a,p {
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: transparent 3px solid;
    border-radius: 10px;
    padding: 3px;
    margin: 0 20% .6rem;
    transition: .3s;
}
a:hover {
    scale: 1.1;
}

p {
    color: white;
    background-color: black;
    cursor: default;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    gap: .8rem;
    background-color: #7373;
    margin: 1rem 0;
    padding: .5rem 0;
}

button {
    background-color: #000;
    color: #fff;
    border: purple 5px solid;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0 1rem;
    transition: .3s;
}
button:hover {
    background-color: #999;
    /* cursor: pointer; */
}


